
.bc_red{
    background-color: #b91450;
}

.bc_white{
    background-color: white;
}

.bc_gray{
    background-color: #808080;
}

.cl-red{
    color: #b91450;
}

.my_button{
    color: #b91450;
    border: 1px solid #b91450;
}


.my_container{
    width: 900px;
    color: white;
}

.my_container form{
    color: #b91450;
}

